* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .container{
      display: flex;
  }
  main{
      width: 100%;
      padding: 20px;
  }
  .sidebar{
      background: #0B3142;
      color: #fff;
      height: 100vh;
      width: 300px;
      transition: all 0.5s;
      cursor: pointer;
  }
  .top-section{
      display: flex;
      align-items: center;
      padding: 20px 15px;
  }
  .logo{
      font-size: 40px;
  }
  .bars{
      display: flex;
      font-size: 30px;
      margin-left: 50px;
  }
  .link{
      display: flex;
      color: #fff;
      padding: 10px 15px;
      gap:20px;
      transition: all 0.5s;
  }
  .link:hover{
      background: #B8DBD9;
      color: #000;
      transition: all 0.5s;
  }
  .active{
      background: #B8DBD9;
      color: #000;
  }
  .icon,.link-text{
      font-size: 20px;
  }